@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto',sans-serif;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%; 
}
a{
    color:white;
    font-size: 2rem;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.doxalogo{
    height: 100%;
    width: 60%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.doxalogo:hover{
    transform: scale(1.2);
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #EAC696;
    }
.botoninicio{
    padding: 9px 25px;
    background-color: #EAC696;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.botoninicio:hover{
    background-color: #885d25;
}
li,a{
    font-weight: 500;
    font-size: 16px;
    color: #8b8c8f;
    text-decoration: none;
}
h1{
    text-align: center;
    color: #EAC696;
    font-size: 7rem;
    margin-top: 6px;  
}
.comercio{
    text-align: center;
    color: #EAC696;
    font-size: 5rem;
    margin-top: 1px;  
}
.historia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto_historia{
    width: 400px;
    font-size: 1.9rem;
    margin-right: 50px;
}
.historiadoxa{
    margin-top: 10px;
}
.subtitulo_historia{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}
.locacion{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;

}
.lugares{
    margin-top: 20px;
}
.lugares2{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .lugares3{
        width: 500px;
        font-size: 2rem;
        margin-right: 50px;
    }
.service{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.brand{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding: 0 1.5em;   
}
.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.intro{
    text-align: center;
    font-size: 3em;
}
.contact{
    box-shadow: 0 0 20px 0; 
    padding: 1em;
}

.contact br{
    margin: 0;
    padding: 1em;
}
.contact button,
.contact label,
.contact input,
.contact textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #EAC696;
}
.contact button{
    background-color: #8b8c8f;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.help{
    text-align: center;
    font-size: 3mm;

}
.help span{
    color: #ca9043;
}
.contact :hover,
.contact :focus{
    transition: background-color 1s ease-out;
    outline: 0;
}
.conocernos ul,
.conocernos p{
text-align: center;
margin: 0 0 1rem 0;
}
footer {
    background-color: #8b8c8f;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Roboto',sans-serif;
}
.redes{
text-align: center;
font-size: 30px;
margin: 1rem 0 3rem 0;
}
.redes :hover{
    color: #EAC696;
}
.newlogo{
    height: 50rem;
    width: 120rem;
    margin-top: center;
    margin-left: 10px;
}
.image{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing:5px;
    font-size: 3rem;
    font-family: 'Roboto',sans-serif;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg,#ca8f4379,#ca8f4379), url(../img/Logistic.jpg);
}
.image1{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing:5px;
    font-size: 3rem;
    font-family: 'Roboto',sans-serif;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg,#ca8f4379,#ca8f4379), url(../img/Comercio\ exterior.jpg);
}
.navbar{
    height: 100px;
    background-color:  #8b8c8f;
    z-index: 2;
}
span navbar-toggler-icon{
    font-size: 45px;
    text-transform: uppercase;
}
span:hover{
    color: #ca9043;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color:#ca9043 !important;
}
.nav-item{
    font-size: 30px;
    margin: 10px;
}
.cleft{
    width: 80%;
    height: 400px;
    padding: 50px;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
}
.cright {
    background-image: url(../img/Terminales.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 400px;
    float: right;

/* @media screen and (max-width: 480px){
    .texto_historia p{
        width: 100%;
        font-size: 12px;
        padding-top: 50px;
        justify-content: flex-start;
    }
    .terminales{
        width: 30%;
    }
    h1{
        width: 1rem;
        height: 200px;
        font-size: 50px;
        text-align: center;
    }
    h2{
        width: 2%;
        height: 50px;
        margin-top: 30px;
    }
    .navbar-collapse{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: aqua; */
    }